.listContainer {
  width: 95%;
  margin: 20px auto;
}

.listTitle {
  color: white;
  display: flex;
}

.text {
  font-size: 18px;
  padding: 0px 10px;
}

.gridContainer {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  padding: 10px;
  margin-top: 20px;
  /* gap: 20px; */
}

.gridItem {
  border-top: 0.3px #aaa solid;
  padding: 10px 10px;
  display: flex;
  align-items: center;
}

.itemNum {
  display: block;
  padding-right: 20px;
  color: white;
}

.itemLink {
  text-decoration: none;
  color: white;
  width: 70%;
  border: 0.5px solid transparent;
  padding: 7px 20px;
}

.itemLink:hover {
  border: 0.5px solid #aaa;
  border-radius: 5%;
}
